@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: rgb(34, 34, 23);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    border-top: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    overflow: hidden;
}
.card:nth-child(2) b {
    position: fixed;
    width: 400px;
    height: 400px;
    left: -5%;
    top: -30%;
    clip-path: circle(50%);
    z-index: -1;
    background: linear-gradient(to right, rgb(244, 42, 255), rgb(38, 27, 255));
}
.card:nth-child(3) b {
    position: fixed;
    width: 800px;
    height: 800px;
    left: 50%;
    top: 32%;
    clip-path: circle(50%);
    z-index: -1;
    background: linear-gradient(to right, rgb(255, 89, 89), rgb(98, 0, 255));
}
.content {
    position: relative;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content h2 {
    position: absolute;
    font-size: 8em;
    top: 0px;
    right: 0;
    pointer-events: none;
    color: rgba(255, 255, 255, .1);
}
.content h3 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}
.content p {
    padding: 0 10px;
    color: rgb(255, 255, 255);
} 
.content a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 5px 25px;
    border-radius: 15px;
    margin-top: 65px;
}

@media only screen and (max-width: 350px) {
    .card {
        width: 90%;
        min-width: 195px;
    }
}